.calendar-month-and-year
  = month_and_year_of_date(@date)
.calendar-weekdays
  %a#calendar-week-left-arrow{href: events_path(date: @date.last_week)}
    %span.icon.icon-arrow-bold-left
  - weekdays_of_date(@date).each do |date|
    %a{href: events_path(date: date), id: date == @date ? 'calendar-selected-day-link' : 'calendar-day-link'}
      .calendar-day
        .calendar-day-name
          = abbr_day_name(date)
        .calendar-day-number
          %span.calendar-weekday
            = date.day
        - if date == @today
          .orange-color-bar
  %a#calendar-week-right-arrow{href: events_path(date: @date.next_week)}
    %span.icon.icon-arrow-bold-right
