.app-name {
  font-size: 60px;
  text-align: center;
  margin-top: 50px;
}
.app-tagline {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}
.calendar-weekday {
  font-size: 32px;
}
.calendar-weekdays {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.calendar-day {
  display: inline-block;
  margin-left: 7px;
  margin-right: 7px;
}
#calendar-day-link {
  text-decoration: none;
  color: #cfd2da;
}
#calendar-selected-day-link {
  text-decoration: none;
  color: #1997c6;
}
#calendar-day-link:hover {
  color: white;
}
.calendar-day-name {
  font-size: 13px;
}
.add-event-button {
  margin-bottom: 20px;
  text-align: center;
}
.calendar-month-and-year {
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: center;
  color: gray;
}
.orange-color-bar {
  background-color: orange;
  width: 100%;
  height: 3px;
}
#calendar-week-arrow {
  font-size: 17px;
  text-decoration: none;
  color: #cfd2da;
}
#calendar-week-arrow:hover {
  color: white;
}
.calendar-datepicker {
  display: inline;
}
.calendar-today-button {
  display: inline;
  margin-right: 20px;
}
.calendar-date-navigators {
  text-align: center;
  margin-bottom: 20px;
}
